.required:after {
    content:" *";
    color: red;
  }
    input[type=email]:focus {
        border: 1px solid #FF008A;
    }

    input[type=password]:focus {
        border: 1px solid #FF008A;
    }

    input-group-append:focus {
        border: 1px solid #FF008A;
    }

    .login-page {
        background-color: #7F18E5 !important;
    }

    aside.main-sidebar.elevation-4 {
        background-color: #7F18E5 !important;
    }

    .hold-transition.login-page {
        background-color: #7F18E5 !important;
    }

    .customlogin .login-box-msg {
        margin: 0;
        padding: 0px 6px 20px !important;
        text-align: left;
        font-weight: bold;
        font-size: 25px;
    }

    .customlogin a.forgot-password {
        text-align: center !important;
    }

    .main-sidebar {
        background-color: #7F18E5 !important;
    }
    /* #sidebar {
    position:relative;
    top:0; bottom:0; left:0;
    width:200px;
    height: 1000px;
    background: gray;
    float:left;
} */

    #header {
        padding: 10px;
        margin-left: 15%;
        margin-top: 0%;
    }

    #content {
        height: 700px;
        margin-left: 180px;
        padding: 10px;
        background-color: white;
    }

    .title {
        margin-left: 10rem;
        padding: 10px;
    }

    .logout-btn {
        padding-top: 180%;
    }

    .nav .nav-item p {
        color: white;
    }

    .field-select {
        position: relative;
    }

    .field-select__label {
        position: absolute;
        pointer-events: none;
        top: 5px;
        left: 0;
    }

    .field-select__input {
        padding: 50px 50px 20px 10px;
    }

    .errspan {
        float: right;
        margin-right: 6px;
        margin-top: -27px;
        position: relative;
        z-index: 2;
        color: gray;
    }

    .header-image {
        height: 35px;
    }

    .btn-add {
        background-color: #FF008A;
        margin: 10px;
    }

    .main-sidebar {
        background-color: #333 !important
    }

    label.error {
        color: #dc3545;
        font-size: 14px;
        font-weight: normal !important;
    }

    .nav-sidebar {
        height: calc(100vh - 70px);
        overflow-y: auto;
        overflow-x: hidden;
    }
    .category-content-wrapper .content-wrapper>.list-content{
        margin-top: 0px !important;
    }
